<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: 700;">Control Temperatura</ion-title>
    
    <ion-buttons slot="end">
      <div class="fecha-badge ion-margin-end">
        {{ fechaActual }}
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding gray-background">
  <div class="welcome-section">
    <h1>Registros</h1>
    <p>Seleccione el área a controlar</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="menu-card-large" (click)="navegar('temp-cocina')">
          <div class="card-content-wrapper">
            <div class="icon-box cocina-bg">
              <ion-icon name="flame-outline"></ion-icon>
            </div>
            <div class="text-box">
              <ion-card-title>COCINA</ion-card-title>
              <ion-card-subtitle>Equipos y preparaciones calientes</ion-card-subtitle>
            </div>
            <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
          </div>
        </ion-card>
      </ion-col>

      <!--<ion-col size="12">
        <ion-card class="menu-card-large" (click)="navegar('temp-comedor')">
          <div class="card-content-wrapper">
            <div class="icon-box comedor-bg">
              <ion-icon name="restaurant-outline"></ion-icon>
            </div>
            <div class="text-box">
              <ion-card-title>COMEDOR</ion-card-title>
              <ion-card-subtitle>Buffet y mantenedores de salón</ion-card-subtitle>
            </div>
            <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
          </div>
        </ion-card>
      </ion-col>-->

      <!--<ion-col size="12">
        <ion-card class="menu-card-large" (click)="navegar('temp-bodega')">
          <div class="card-content-wrapper">
            <div class="icon-box bodega-bg">
              <ion-icon name="cube-outline"></ion-icon>
            </div>
            <div class="text-box">
              <ion-card-title>BODEGA</ion-card-title>
              <ion-card-subtitle>Refrigeración y materias primas</ion-card-subtitle>
            </div>
            <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
          </div>
        </ion-card>
      </ion-col>-->
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer-brbc></app-footer-brbc>