.gray-background {
  --background: #f8f9fa;
}

.section-title {
  font-weight: 700;
  margin-bottom: 5px;
  color: #212529;
}

.input-card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);

  .input-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    
    ion-label {
      font-weight: 600;
      color: #495057;
      font-size: 0.9rem;
    }

    ion-icon {
      font-size: 1.2rem;
    }
  }
}

.custom-input-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  
  ion-input {
    font-size: 1.1rem;
    color: #212529;
    --placeholder-color: #adb5bd;
    --placeholder-font-weight: 400;
  }
}

// Colores para los iconos
.icon-entrada { color: #2ecc71; }
.icon-plato { color: #e67e22; }
.icon-postre { color: #e84393; }
.icon-bebida { color: #0984e3; }

.plazas-container {
  margin-top: 10px;
}

.plaza-card {
  margin: 5px; // Espaciado entre las mini-tarjetas de plazas
  padding: 10px !important;
  text-align: center;

  .input-header {
    justify-content: center;
    ion-label {
      color: #3880ff; // Color azul para resaltar que es una plaza
      font-size: 0.8rem;
    }
  }

  ion-input {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

// Para que los inputs de números no tengan flechas (opcional)
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stock-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  padding: 8px 12px !important;
  background: white;

  .plato-nombre {
    font-size: 0.85rem;
    font-weight: 500;
    color: #495057;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.stock-input-item {
  --background: transparent;
  width: 65px; // Espacio pequeño para la cantidad
  --padding-start: 0;
  --inner-padding-end: 0;
  
  ion-input {
    text-align: right;
    font-weight: 700;
    color: #3880ff;
    --padding-end: 5px;
    font-size: 1.1rem;
  }
}

.stock-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  padding: 8px 10px !important; // Ajustamos un poco el padding interno
  background: white;

  .plato-nombre {
    font-size: 0.85rem;
    font-weight: 500;
    color: #495057;
    flex: 1; // Esto permite que el nombre ocupe el espacio sobrante
    margin-right: 5px;
  }
}

.whatsapp-button {
  --background: #25D366;
  --background-activated: #128C7E; // Un tono más oscuro al presionar
  --background-focused: #128C7E;
  --color: white;
  font-weight: 700;
  margin-bottom: 30px; // Espacio extra al final para que no choque con el borde
}