<!--este codigo funciona-->



<ion-header class="ion-no-border">
  <ion-toolbar color="light" style="--border-style: none;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>

    <ion-title style="font-weight: 700; color: #212529;">Comedor</ion-title>
    
    <ion-buttons slot="end">
      <ion-datetime-button datetime="datetime-comedor" class="ion-margin-end"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime 
            id="datetime-comedor" 
            presentation="date" 
            (ionChange)="cambiarFecha($event)">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding gray-background">
  
  <div class="welcome-section">
    <h2 class="section-title">Minuta del Día</h2>
    <p>Resumen de platos para hoy</p>
  </div>

  <div class="menu-container">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="leaf-outline" class="icon-entrada"></ion-icon>
              <ion-label>Entrada</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="..." [(ngModel)]="minuta.entrada" (ionBlur)="guardarFirebase()" ></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="restaurant-outline" class="icon-plato"></ion-icon>
              <ion-label>Fondo</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="..." [(ngModel)]="minuta.fondo" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="pizza-outline" class="icon-pasta"></ion-icon>
              <ion-label>Pasta</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="..." [(ngModel)]="minuta.pasta" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="fish-outline" class="icon-pescado"></ion-icon>
              <ion-label>Pescado</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="..." [(ngModel)]="minuta.pescado" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="water-outline" class="icon-ceviche"></ion-icon>
              <ion-label>Ceviche</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="..." [(ngModel)]="minuta.ceviche" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="flask-outline" class="icon-sopa"></ion-icon>
              <ion-label>Sopa</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="..." [(ngModel)]="minuta.sopa" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="star-outline" class="icon-chef"></ion-icon>
              <ion-label>Esp. Chef</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="..." [(ngModel)]="minuta.especialChef" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="fast-food-outline" class="icon-sandwich"></ion-icon>
              <ion-label>Sandwich</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="..." [(ngModel)]="minuta.sandwichChef" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="restaurant-outline" style="color: #95a5a6;"></ion-icon>
              <ion-label>Croquetas</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="..." [(ngModel)]="minuta.croquetas" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="ice-cream-outline" class="icon-postre"></ion-icon>
              <ion-label>Postre</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="..." [(ngModel)]="minuta.postre" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="wine-outline" class="icon-bebida"></ion-icon>
              <ion-label>Jugo</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="..." [(ngModel)]="minuta.jugo" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="wine-outline" style="color: #6c5ce7;"></ion-icon>
              <ion-label>Mocktail</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="..." [(ngModel)]="minuta.mocktail" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>
          <ion-col size="6">
          <div class="input-card small-card">
            <div class="input-header">
              <ion-icon name="wine-outline" style="color: #6c5ce7;"></ion-icon>
              <ion-label>Cocktail</ion-label>
            </div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="Pisco sour" [(ngModel)]="minuta.cocktail" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="welcome-section" style="margin-top: 15px;">
    <h2 class="section-title">Plazas</h2>
  </div>

  <div class="plazas-container">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="4">
          <div class="input-card plaza-card">
            <div class="input-header"><ion-label>SALON</ion-label></div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="Garzón 1" [(ngModel)]="plazas['Salon'].g1" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="Garzón 2" [(ngModel)]="plazas['Salon'].g2" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="4">
          <div class="input-card plaza-card">
            <div class="input-header"><ion-label>BOSQUE</ion-label></div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="Garzón 1" [(ngModel)]="plazas['Bosque'].g1" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="Garzón 2" [(ngModel)]="plazas['Bosque'].g2" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="4">
          <div class="input-card plaza-card">
            <div class="input-header"><ion-label>TERRAZA</ion-label></div>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="Garzón 1" [(ngModel)]="plazas['Terraza'].g1" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
            <ion-item lines="none" class="custom-input-item">
              <ion-input type="text" placeholder="Garzón 2" [(ngModel)]="plazas['Terraza'].g2" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  


  <div class="welcome-section" style="margin-top: 15px;" >
    <h2 class="section-title">Existencias</h2>
  </div>
  <div class="existencias-container">

  
    <ion-item-divider color="none" class="divider-stock">
      <ion-label class="lbl-entradas">ENTRADAS</ion-label>
    </ion-item-divider>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" *ngFor="let p of catEntradas">
          <div class="input-card stock-card"
          [ngClass]="{'stock-agotado': existencias[p] === '0', 
                      'stock-disponible': existencias[p] !== '0' 
                      && existencias[p] !== ''}">
            <ion-label class="plato-nombre">{{ p }}</ion-label>
            <ion-item lines="none" class="stock-input-item">
              <ion-input type="text"
               placeholder="0" 
               [(ngModel)]="existencias[p]" 
               (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>

            <div class="cross-line" *ngIf="existencias[p] === '0'"></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item-divider color="none" class="divider-stock">
      <ion-label class="lbl-sandwiches">SÁNDWICHES</ion-label>
    </ion-item-divider>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" *ngFor="let p of catSandwiches">
          <div class="input-card stock-card"
          [ngClass]="{'stock-agotado': existencias[p] === '0', 
                      'stock-disponible': existencias[p] !== '0' 
                      && existencias[p] !== ''}">
            <ion-label class="plato-nombre">{{ p }}</ion-label>
            <ion-item lines="none" class="stock-input-item">
              <ion-input type="text" placeholder="0" [(ngModel)]="existencias[p]" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>

            <div class="cross-line" *ngIf="existencias[p] === '0'"></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item-divider color="none" class="divider-stock">
      <ion-label class="lbl-ensaladas">ENSALADAS</ion-label>
    </ion-item-divider>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" *ngFor="let p of catEnsaladas">
          <div class="input-card stock-card"
          [ngClass]="{'stock-agotado': existencias[p] === '0', 
                      'stock-disponible': existencias[p] !== '0' 
                      && existencias[p] !== ''}">
            <ion-label class="plato-nombre">{{ p }}</ion-label>
            <ion-item lines="none" class="stock-input-item">
              <ion-input type="text" placeholder="0" [(ngModel)]="existencias[p]" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>

            <div class="cross-line" *ngIf="existencias[p] === '0'"></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item-divider color="none" class="divider-stock">
      <ion-label class="lbl-fondos">FONDOS</ion-label>
    </ion-item-divider>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" *ngFor="let p of catFondos">
          <div class="input-card stock-card"
          [ngClass]="{'stock-agotado': existencias[p] === '0', 
                      'stock-disponible': existencias[p] !== '0' 
                      && existencias[p] !== ''}">
            <ion-label class="plato-nombre">{{ p }}</ion-label>
            <ion-item lines="none" class="stock-input-item">
              <ion-input type="text" placeholder="0" [(ngModel)]="existencias[p]" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>

            <div class="cross-line" *ngIf="existencias[p] === '0'"></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item-divider color="none" class="divider-stock">
      <ion-label class="lbl-postres">POSTRES</ion-label>
    </ion-item-divider>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" *ngFor="let p of catPostres">
          <div class="input-card stock-card"
          [ngClass]="{'stock-agotado': existencias[p] === '0', 
                      'stock-disponible': existencias[p] !== '0' 
                      && existencias[p] !== ''}">
            <ion-label class="plato-nombre">{{ p }}</ion-label>
            <ion-item lines="none" class="stock-input-item">
              <ion-input type="text" placeholder="0" [(ngModel)]="existencias[p]" (ionBlur)="guardarFirebase()"></ion-input>
            </ion-item>

            <div class="cross-line" *ngIf="existencias[p] === '0'"></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


  </div>

  <div class="ion-padding">
    <ion-button expand="block" class="whatsapp-button" shape="round" (click)="finalizarYEnviar()">
      <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
      ENVIAR REPORTE
    </ion-button>
  </div>

</ion-content>
<app-footer-brbc></app-footer-brbc> 












