

<ion-header class="ion-no-border">
  <div class="brand-header">
    <img src="assets/blue.png" alt="Blue Jar Restaurant" class="header-logo">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding bluejar-theme">
  
  <div class="welcome-section">
    <h1>Panel de Control</h1>
    <p>Gestión del establecimiento</p>
  </div>

  <ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card class="menu-card" (click)="navegar('comedor')">
        <div class="card-icon-wrapper bj-azul">
          <ion-icon name="restaurant-outline"></ion-icon>
        </div>
        <ion-card-header>
          <ion-card-title>Comedor</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="menu-card" (click)="navegar('venta-dia')">
        <div class="card-icon-wrapper bj-verde">
          <ion-icon name="cash-outline"></ion-icon>
        </div>
        <ion-card-header>
          <ion-card-title>Venta del Día</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="menu-card" (click)="navegar('control-temperatura')">
        <div class="card-icon-wrapper bj-rojo">
          <ion-icon name="thermometer-outline"></ion-icon>
        </div>
        <ion-card-header>
          <ion-card-title>Temperaturas</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="menu-card" (click)="navegar('informes')">
        <div class="card-icon-wrapper bj-gris">
          <ion-icon name="stats-chart-outline"></ion-icon>
        </div>
        <ion-card-header>
          <ion-card-title>Informes</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="menu-card" (click)="navegar('pedido-bodega')">
        <div class="card-icon-wrapper bj-morado">
          <ion-icon name="cart-outline"></ion-icon>
        </div>
        <ion-card-header>
          <ion-card-title>Pedidos</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <!--<ion-col size="6">
      <ion-card class="menu-card" (click)="navegar('control-productos')">
        <div class="card-icon-wrapper bj-celeste">
          <ion-icon name="cube-outline"></ion-icon>
        </div>
        <ion-card-header>
          <ion-card-title>Productos</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>-->
  </ion-row>
</ion-grid>


</ion-content>

<app-footer-brbc></app-footer-brbc>


